[Unit]
Description=Activate RHV host(s) and start VM(s)
After=network-online.target
Wants=network-online.target

[Service]
TimeoutSec=0
#Environment=RHVM="your.rhvm.fqdn"
#Environment=RHVM_USER="admin@internal"
ExecStart=/usr/sbin/manage-rhvh daemon

[Install]
WantedBy=multi-user.target
